*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(56, 56, 56);
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #2e3a46;
    background-color: #007BFF;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    font-family: Arial;
    color: white;
    justify-content: space-between;
}
.chamados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.chamados li{
    list-style: none;
    background-color: #2e3a46;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
}
button{
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
button:hover{
    background-color: #0056b3;
}

/* Estilo para a página de cadastro de chamados */

.cadastro   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #2e3a46;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 20px;
    height: 600px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.cadastro h1{
    margin-bottom: 20px;
    font-weight: bold;
}   

#titulo{
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

#descricao{
    padding: 10px;
    height: 200px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}
#descricao::placeholder{
    position: absolute;
    top: 20px;
    left: 10px;
}

.cadastro button{
    margin-top: 20px;
    justify-content: center;
}

.cadastro a button{
    background-color: #007BFF;
    color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo para a página de edição de chamados */

.editarchamado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #2e3a46;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 20px;
    height: 600px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.editarchamado form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editarchamado #descricao::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}
